In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

sns.set(rc={'figure.figsize':(8 , 4)})

In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [4]:
# Cargar los datos
file_path = 'data/data.csv'

# Intentar cargar el archivo detectando automáticamente el delimitador
data = pd.read_csv(file_path, encoding='latin1', delimiter=';')

# Verificar las primeras filas
data.head()

,ID,Genero,Casado,Edad,Graduado,Profesion,Experiencia laboral,Gastoscore,Family_Size,anno_nacimiento,Generacion,Ingresos anuales brutos,Provincia,Digital_encuesta,Gasto_medio_mensual_cuota,Abandono,Dias_cliente,Campanna_anno
0,CLI2,M,No,24,No,Funcionario,<10annos,Bajo,4,2000,Generacion Z,13945,Malaga,"1,029",30,0,278,NaN
1,CLI3,F,Si,42,Si,Ingeniero,+20annos,Medio,3,1982,Millennials,118107,Salamanca,"1,79",30,0,455,3
2,CLI4,F,Si,74,Si,Ingeniero,+20annos,Bajo,1,1950,Generacion X,53533,Burgos,"1,326",50,0,380,1
3,CLI5,M,Si,74,Si,Servicios,+20annos,Alto,2,1950,Generacion X,82273,Gerona,"0,779",50,1,387,3
4,CLI6,F,Si,44,Si,Otros,+20annos,Alto,6,1980,Generacion X,90776,ivila,"1,767",30,1,299,NaN

In [5]:
data.columns

Index(['ID', 'Genero', 'Casado', 'Edad', 'Graduado', 'Profesion',
       'Experiencia laboral', 'Gastoscore', 'Family_Size', 'anno_nacimiento',
       'Generacion', 'Ingresos anuales brutos', 'Provincia',
       'Digital_encuesta', 'Gasto_medio_mensual_cuota', 'Abandono',
       'Dias_cliente', 'Campanna_anno'],
      dtype='object')

In [6]:
data = data.rename(columns={'ID':'id','Genero':'genero','Casado':'casado','Edad':'edad',
                            'Graduado':'graduado', 'Profesion':'profesion',
                            'Experiencia laboral':'exp_laboral', 'Gastoscore':'nivel_gasto',
                            'Family_Size':'tamanno_familia','anno_nacimiento':'anno_nacimiento',
                            'Generacion':'generacion', 'Ingresos anuales brutos':'ingresos_anuales',
                            'Provincia':'provincia','Digital_encuesta':'encuentro_digital',
                            'Gasto_medio_mensual_cuota':'gasto_medio_mensual_cuota', 'Abandono':'abandono',
                            'Dias_cliente':'dias_como_cliente', 'Campanna_anno':'camp_anno'})

In [7]:
data.shape

(10806, 18)

In [10]:
describe = data.describe()
describe

,edad,tamanno_familia,anno_nacimiento,ingresos_anuales,gasto_medio_mensual_cuota,abandono,dias_como_cliente
count,10806.000000,10806.000000,10806.000000,10806.000000,10806.000000,10806.000000,10806.000000
mean,47.920415,2.764390,1976.075236,56113.470387,45.285027,0.297983,298.006293
std,18.432100,1.548241,18.431804,35458.081118,28.674032,0.457393,148.844349
min,20.000000,1.000000,1926.000000,12003.000000,30.000000,0.000000,30.000000
25%,33.000000,2.000000,1966.000000,24986.250000,30.000000,0.000000,177.000000
50%,45.000000,2.000000,1979.000000,43628.000000,30.000000,0.000000,289.000000
75%,58.000000,4.000000,1991.000000,86678.500000,50.000000,1.000000,401.000000
max,98.000000,9.000000,2004.000000,129963.000000,200.000000,1.000000,600.000000

In [14]:
describe['abandono']

count    10806.000000
mean         0.297983
std          0.457393
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: abandono, dtype: float64